* {
    margin: 0;
    padding: 0; 
}

body {
font-family: 'TT Hoves' ;
}

section {
padding: 0 112px;
}

.logo {
margin-top: 37px;
width: 295px;
}

.courseInfo {
margin-top: 85px;
margin-bottom: 76px;
font-weight: 700px;
font-size: 21px;
line-height: 140%;
display: flex;
gap: 30px 160px;
flex-wrap: wrap;
}

.value {

    font-size: 21px;
    font-weight: 700;
    line-height: 29.4px;
    text-align: left;
    
}

h1 {
    font-family: 'Chava';
font-size: 80px;
line-height: 110%;
}

p {
    font-size: 27px;
    font-weight: 300;
    line-height: 140%;
    text-align: left;
    margin-top: 40px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.cta {
display: flex;
flex-wrap: wrap;
gap: 20px 30px;
}

button.purple {
    background-color: #6E3ABA;
    color: white;
    border: 0;
    width: 328px;
    height: 60px;
    padding: 20px 0px 20px 0px;
    border-radius: 12px;
font-size: 18px;
font-weight: 500;
line-height: 117%;
text-align: center;

}

button.white {
    background-color: white ;
    color: #6E3ABA;
    border: 1px solid #6E3ABA;
    width: 328px;
    height: 60px;
    padding: 20px 0px 20px 0px;
    border-radius: 12px;
font-size: 18px;
font-weight: 500;
line-height: 117%;
text-align: center;

}

.smile {
    width: 210px;
height: 210px;

}

h2.name {
    width: 420px;
height: 38px;
font-size: 27px;
font-weight: 600;
line-height: 140%;
text-align: left;
}

.for {

    height: 506px;
font-size: 27px;
font-weight: 400;
line-height: 140%;
text-align: left;
display: flex;
    flex-wrap: wrap;
    gap: 90px 70px;

}
.backender {
    width: 450px;
    height: 506px;
font-size: 27px;
font-weight: 400;
line-height: 140%;
text-align: left;
}

.student {
    width: 450px;
    height: 506px;
font-size: 27px;
font-weight: 400;
line-height: 140%;
text-align: left;
}

.beginner {
    width: 450px;
    height: 506px;
font-size: 27px;
font-weight: 400;
line-height: 140%;
text-align: left;
}

.profecion {
    width: 450px;
    height: 506px;
font-size: 27px;
font-weight: 400;
line-height: 140%;
text-align: left;
}

.header {
    width: 769px;
height: 136px;
left: 120px;
font-size: 58px;
font-weight: 500;
line-height: 117%;
letter-spacing: 0.01em;
text-align: left;
margin-top: 160px;
}

